

body{background-image:url("bk.png");
background-size:cover; 
margin: 0;}
ul { list-style-type: none; 
background-color: seagreen;
padding: 20px;} 
li {display: inline;
margin: 10px;} 
ul a { color: black;
text-decoration: none;}
ul a:hover {color: white;}

